.table td {
   padding: 0.4rem 0.75rem;
   font-size: 12px;
}

.totalizador {
   position: absolute;
   bottom: 0;
   width: 100%;
   padding: 5px 15px;
   color: #ffffff;
   border: 1px solid #505050;
   background: #505050;
}
